<button
    class="input-file"
    mat-ripple
    (click)="input_file.showPicker()"
    [disabled]="disabled"
>
    <input
        #input_file
        hidden
        type="file"
        [accept]="accept"
        [attr.name]="name"
        [multiple]="multiple"
        (change)="onInputFileChange()"
        (cancel)="onInputFileCancel()"
        [disabled]="disabled"
    >

    <mat-icon fontSet="material-symbols-outlined">
        {{ disabled ? 'attach_file_off' : 'attach_file' }}
    </mat-icon>

    <div class="label-text">
        <ng-content />
    </div>

    <ng-container *ngIf="value != null">
        <div *ngIf="isFile(value)" class="file_name">
            {{ value.name }}
        </div>

        <div *ngIf="!isFile(value)" class="file_name">
            {{ value.length }} {{ value.length > 0 ? 'archivos' : 'archivo' }} seleccionados
        </div>
    </ng-container>

    <div *ngIf="value == null" class="no_file_selected_message">
        {{ noFileSelectedMessage || 'No se ha seleccionado ningún archivo' }}
    </div>
</button>
