:where([data-apply-material-overrides]) {

  & mat-label {
    display: inline;
  }

  & .mat-mdc-form-field {
    display: flex;

    --mdc-outlined-text-field-disabled-outline-color: rgba(0, 0, 0, 0.17);

    /* --mdc-filled-text-field-disabled-container-color: var(--mdc-outlined-text-field-disabled-outline-color); */
    --mdc-filled-text-field-disabled-active-indicator-color: var(--mdc-outlined-text-field-disabled-outline-color);

    & {
      --background-color: transparent;
      --autofill-background-color: #68daff42;
    }

    &:has(:is(input, textarea)[data-autofill]) {
      --background-color: var(--autofill-background-color);
    }

    &[appearance="fill"] {}

    &.mat-form-field-disabled {
      cursor: not-allowed;
    }

    & > .mat-mdc-text-field-wrapper {
      display: flex;

      --mdc-outlined-text-field-focus-outline-width: 0.125em;
      --mdc-outlined-text-field-container-shape: 0.25em;
      --mdc-outlined-text-field-outline-width: 0.0625em;

      background-color: transparent;

      & > .mat-mdc-form-field-focus-overlay {
        opacity: 1;

        background-color: var(--background-color);

        @media (hover: hover) {
          &:where(.mat-mdc-form-field:hover > .mat-mdc-text-field-wrapper > &) {
            --background-color: rgb(0 0 0 / 5%);

            &:is(:has(:is(input, textarea)[data-autofill]) > * > &) {
              --background-color: color-mix(in oklab, var(--autofill-background-color) 100%, rgb(0 0 0 / 5%) 20%);
            }
          }
        }

        &:where(.mat-mdc-form-field:has(:focus-visible) > .mat-mdc-text-field-wrapper > &) {
          --background-color: rgb(0 0 0 / 13%);

          &:is(:has(:is(input, textarea)[data-autofill]) > * > &) {
            --background-color: color-mix(in oklab, var(--autofill-background-color) 100%, rgb(0 0 0 / 13%) 20%);
          }
        }
      }

      & > .mat-mdc-form-field-flex {
        display: flex;

        & > .mdc-notched-outline {

          & > .mdc-notched-outline__leading {
            width: 0.75em;

            background-color: var(--background-color);
          }

          & > .mdc-notched-outline__notch {
            background-color: var(--background-color);

            /* &:is(.mdc-notched-outline--notched > &) {
              width: !important;
            } */

            & > .mdc-floating-label {
              pointer-events: none;

              top: 1.8em;
              /* left: 0.25em; */

              /* transform: translateY(-0.6em) translateX(78%) !important; */
              /* transform: translateY(calc(50% - 1.2em)) translateX(2em) !important; */
              transform: translateY(calc(50% - 1.2em)) translateX(78%) !important;

              &.mdc-floating-label--float-above {
                transform: translateY(-2.2em) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75)) !important;
              }

              font-size: 1em;
            }
          }

          & > .mdc-notched-outline__trailing {
            background-color: var(--background-color);
          }
        }

        & > .mat-mdc-form-field-icon-prefix {
          padding: 0;

          & > mat-icon {
            padding: 0.5em;

            &:is(.mat-mdc-form-field.mat-form-field-disabled > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-icon-prefix > &) {
              pointer-events: none;
              color: var(--mdc-outlined-text-field-disabled-outline-color);
            }
          }
        }

        & > .mat-mdc-form-field-infix {
          min-height: 0;
          width: 11.25em;

          padding-block: 1em;

          &:is(:not([appearance="outline"]) > :not(.mdc-text-field--no-label) > * > &) {
            padding-top: 1.5em;
            padding-bottom: 0.5em;
          }

          line-height: 1.5;

          & > .mdc-floating-label {
            pointer-events: none;

            top: 1.8em;

            font-size: 1em;
          }
        }

        & > .mat-mdc-form-field-icon-suffix {
          padding-block: 0.4em;
          padding-inline: 0.6em;

          & > [mat-icon-button] {
            padding: 0.4em;
          }

          & > mat-icon {
            padding: 0;

            &:is(.mat-mdc-form-field.mat-form-field-disabled > .mat-mdc-text-field-wrapper > .mat-mdc-form-field-flex > .mat-mdc-form-field-icon-suffix > &) {
              color: var(--mdc-outlined-text-field-disabled-outline-color);
            }
          }
        }
      }
    }
  }

}


:where([data-apply-material-overrides]) {

  & .mat-mdc-select{
    font-size: unset;
    color: unset;
    line-height: unset;

    & > .mat-mdc-select-trigger {
      cursor: inherit;

      & > .mat-mdc-select-arrow-wrapper {
        display: none;
      }
    }
  }
}
