:where([data-apply-material-overrides]) {

  & .mat-icon {
    box-sizing: content-box;

    width: 1em;
    height: 1em;

    display: grid;
    place-items: center;
    /* place-content: center; */

    font-size: 1.5em;

    /*
      The default value "normal" depends on the User Agent and may not look the same.
      To fix that, we have to specify a value.
    */
    line-height: 1;
  }

}
