:where([data-apply-material-overrides]) {

  & .mat-mdc-button-base {
    /* min-width: max-content; */

    height: auto;
    
    display: flex;
    align-items: center;
    gap: 0.5em;

    padding: 0.6em;

    font-size: 1em;

    line-height: unset;

    &:disabled {
      pointer-events: auto;
      cursor: not-allowed;
    }

    & > .mdc-button__label {
      flex-shrink: 1;
    }

    & > :is(
      .mat-mdc-button-touch-target,
      .mat-mdc-focus-indicator,
    ) {
      pointer-events: none;
    }

    & > .mat-mdc-button-persistent-ripple[class] {

      &::before {
        opacity: 0;
      }
    }

    &:focus-visible {

      & > .mat-mdc-button-persistent-ripple {

        &::before {
          opacity: 0.12;
        }
      }
    }

    @media (hover: hover) {
      &:hover:where(:not(:disabled)) {
  
        & > .mat-mdc-button-persistent-ripple {
  
          &::before {
            opacity: 0.12;
          }
        }
      }
    }

    & > .mat-icon {
      margin: 0;

      width: 1em;
      height: 1em;

      font-size: 1.5em;

      &[iconPositionEnd] {
        margin: 0;
        margin-left: auto;
      }
    }
  }

  & [mat-button] {
    
  }

  & [mat-icon-button] {
    box-sizing: content-box;

    max-width: fit-content;
    width: auto;
    height: auto;

    display: grid;
    place-items: center;
    /* place-content: center; */

    padding: 0.7em;

    touch-action: auto !important;
  }

  & [mat-raised-button] {
    height: auto;

    padding: 0.6em;

    border-radius: 0.25em;
  }

  & [mat-flat-button] {

  }

  & .mat-button-toggle {

    & > .mat-button-toggle-button {
      cursor: inherit;
    }
  }

}


:where(app-root[data-apply-material-overrides] ~ .cdk-overlay-container) {

  & > .cdk-overlay-backdrop {

    /* <mat-menu> */
    &.cdk-overlay-backdrop-showing {
    /* &.cdk-overlay-backdrop-showing:has(+ div > :first-child > .mat-mdc-menu-panel) { */
      opacity: 1;
      background-color: rgb(0 0 0 / 44%);
    }
  }

  & > .cdk-overlay-connected-position-bounding-box {

    & > .cdk-overlay-pane {

      & > .mat-mdc-menu-panel {
        max-width: none;

        & > .mat-mdc-menu-content {
          padding-block: 0.5em;
          /* padding-inline: 0.8em; */

          & > [mat-menu-item] {
            min-height: 0;

            column-gap: 0.5em;

            padding-block: 0.6em;
            padding-inline: 0.9em;

            cursor: inherit;
      
            & > mat-icon {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
