:host {
  min-width: max-content;

  display: flex;

  & > .btn {
    flex-grow: 1;
  }
}

.btn {
  display: flex;
  align-items: center;
  column-gap: 0.5em;

  padding-block: 0.3em;

  border: solid 2px currentColor;

  border-radius: 0.3em;

  background-color: transparent;

  &:disabled {
    opacity: 0.7;
  }

  /* &:where(:root.dark &) {
    background-color: var(--main-bg);
  } */

  & > .mdc-button__label {
    display: contents;

    & > .icon {
      width: 2em;
      height: 2em;
    }
  }
}
