@import url('./styles/default.css');
@import url('./styles/material-overrides/_index.css');

:root {
  --primary-bg: #399;
  --primary-text: #fff;

  --accent-bg: #4557b6;
  --accent-text: #fff;

  --warn-bg: #e66969;
  --warn-text: #fff;

  --main-bg: #f1f1f1;
  --main-text: #222;

  /* --complementary-bg: ; */
}

:root {
  background-color: var(--main-bg);
  color: var(--main-text);

  font-family: Roboto, 'Helvetica Neue', sans-serif;
}


a:any-link {
  color: var(--accent-bg);
}

:where(app-root) {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;

  overflow: auto;

  scroll-behavior: smooth;

  & > * {
    min-width: auto;
    min-height: auto;
  }

  & > [data-page-component] {
    padding: 1rem;

    @media (width <= 23.75em) {
      padding: 0.6rem;
    }
  }
}
